<style>
            .bg-d1 {
                background-color: #38618c;
            }
            .bg-t1 {
                background-color: #ff5964;
            }
        </style>
    </head>
    <div class="bg-gray-200">
        <div class="h-screen flex">
            <div class="w-1/4 bg-d1">
                <div class="p-4">
                    <img src="Bitchest.png" alt="Logo Bitchest" class="w-20 h-20" />
                </div>
                <ul class="w-40 text-center mt-12 mx-auto space-y-3">
                    <li class="mb-2 bg-t1 text-white">Élément 1</li>
                    <li class="mb-2 bg-t1 text-white">Élément 2</li>
                    <li class="mb-2 bg-t1 text-white">Élément 3</li>
                    <li class="mb-2 bg-t1 text-white">Élément 4</li>
                    <li class="mb-2 bg-t1 text-white">Élément 5</li>
                    <li class="mb-2 bg-t1 text-white">Élément 6</li>
                </ul>
            </div>
            <div class="w-3/4 bg-gray-100"></div>
        </div>
    </div>