{% extends 'base.html.twig' %}

{% block title %}Edit Administrator{% endblock %}

{% block body %}
    <h1>Edit Administrator</h1>

    {{ include('administrator/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_administrator_index') }}">back to list</a>

    {{ include('administrator/_delete_form.html.twig') }}
{% endblock %}
