{% extends 'base.html.twig' %}

{% block title %}New Administrator{% endblock %}

{% block body %}
    <h1>Create new Administrator</h1>

    {{ include('administrator/_form.html.twig') }}

    <a href="{{ path('app_administrator_index') }}">back to list</a>
{% endblock %}
